#advantages{
  background:url('../../img/main/second-fon.jpg') no-repeat  fixed center top / cover;
  .bufbg{
    background: #707270;
  }
  & .container {
    padding:70px 0;
  }
  .infografika-one, .infografika-two{
    min-height:353px;
    .romb{
      &.top{
        background: url('../../img/main/romb-top.png') no-repeat center top;
      }
    }
  }
  .infografika-three, .infografika-four{
    min-height:190px;
    .romb{
      &.bottom{
        background: url('../../img/main/romb-bottom.png') no-repeat center top;
      }
    }
  }
  .infografika-one, .infografika-two, .infografika-three, .infografika-four{

    .romb {
      width: 518px;
      height: 353px;
      position: absolute;
      .text {
        color: #fff;
        font-size: 1.5em;
        width: 50%;

      }
      .img {

        width: 200px;
        height: 164px;
        background: url('../../img/main/infografika.png') no-repeat center top;

      }
      img {
        width: 100%;
      }
    }

  }
  .infografika-one{
    .romb{
      left:15px;
      .text{
        text-align: center;
        margin-left:200px;
        padding:20px 0 0 40px;
        &.top{
          span{
            display: block;
          }
          &:first-child span{
            /*padding-left:40px;*/
          }
          span:last-child{
            /*padding-left:80px;*/
          }
        }
      }
      .img {
        margin:-25px 0 0 65px;
        &.hand {
          background-position: 0 0;
        }
      }
    }

  }
  .infografika-two{
    .romb{
      right:55px;
      .text{
        text-align: center;
        margin-left:190px;
        padding:20px 0 0 40px;
        &.top{
          font-size:1.4em;
          span{
            display: block;
          }
          /*&:first-child span{
            padding-left:40px;
          }
          span:nth-child(3){
            padding-left:70px;
          }
          span:last-child{
            padding-left:90px;
          }*/
        }
      }
      .img {
        margin:-10px 0 0 65px;
        &.hand {
          background-position: -200px 0;
        }
      }
    }

  }
  .infografika-three{
    .romb{
      left:55px;
      top:-130px;
      .text{
        &.top{
          text-align: center;
          margin-left: 40px;
          font-size:1.4em;
          span{
            display: block;
          }
        }
      }
      .img {
        margin:90px 0 0 240px;
        &.hand {
          background-position: -400px 0;
        }
      }
    }
    /*.block-white {
      background: rgb(215, 216, 215);
      &:after {
        left: -177px;
        top: 67px;
        border-bottom-color: #595959;
        border-width: 171px;
      }
      .block-white-inner {
        .img {
          &.hand {
            background-position: -400px 0;
          }
        }
      }
    }*/
  }
  .infografika-four{
    .romb{
      right:15px;
      top:-130px;
      .text{
        &.top{
          text-align: center;
          margin-left: 40px;
          font-size:1.4em;
          span{
            display: block;
          }
        }
      }
      .img {
        margin:90px 0 0 240px;
        &.hand {
          background-position: -600px 0;
        }
      }
    }

    /*.block-white {
      background: rgb(215, 216, 215);
      &:after {
        left: -177px;

        top: 67px;
        border-bottom-color: #595959;
        border-width: 171px;
      }
      .block-white-inner {
        .img {
          &.hand {
            background-position: -600px 0;
          }
        }
      }
    }*/
  }

}