#catalog{
  background:url('../../img/main/first-fon.jpg') no-repeat  center top / cover;
  .bufbg{
    background: #d7d8d7;
  }
  .chiar-small, .chiar-middle, .mebel{
    font-size: 1.6em;
    &.top, &.bottom{
      .title{
        &:hover{
          color: #411112;
        }
      }
    }
    .modal-cover, .product_ajax_link{
      &:hover{
        cursor:pointer;

      }
    }
  }
  .chiar-small{
    background:url('../../img/main/chiar-small.png') no-repeat;
    width:332px;
    height:283px;
    position: relative;
    float:left;
    .modal-cover{
      position:absolute;
      width:250px;
      height:283px;
    }
    &.top{
      background-position: 0 0;

    }
    &.bottom{
      background-position: 0 -283px;
      margin-top:-100px;
    }
    &.top, &.bottom{
      .title{
        width:60%;
        height:62px;
        position: absolute;
        top:111px;
        right:-195px;
        text-align: center;
        color: #A42D2E;

        .top{
          border:2px solid #A42D2E;
          border-width: 0 0 2px 0;
          height:32px;
        }
        .bottom{
          height:28px;
        }
      }
    }
  }
  .chiar-middle{
    background:url('../../img/main/chiar-middle.png') no-repeat;
    width:459px;
    height:283px;
    margin-bottom:10px;
    float:right;
    .modal-cover{
      position:absolute;
      width:380px;
      height:283px;
      right:0;
    }
    &.top{
      background-position: 0 0;
      margin-top:110px;
    }
    &.bottom{
      background-position: 0 -283px;
      margin-top:10px;
    }
    &.top, &.bottom{
      .title{
        width:45%;
        height:62px;
        position: absolute;
        top:111px;
        left:-205px;
        text-align: center;
        color: #A42D2E;
        .top{
          border:2px solid #A42D2E;
          border-width: 0 0 2px 0;
          height:32px;
        }
        .bottom{
          height:28px;
        }
      }
    }
  }
  .mebel{
    background:url('../../img/main/mebel.png') no-repeat;
    width:674px;
    height:400px;
    margin-top:-100px;
    float:left;
    .modal-cover{
      position:absolute;
      width:500px;
      height:400px;
    }
    .title{
      width:275px;
      height:62px;
      position: absolute;
      top:168px;
      right:-274px;
      text-align: center;
      color: #A42D2E;
      &:hover{
        color: #411112;
      }
      .top{
        border:2px solid #A42D2E;
        border-width: 0 0 2px 0;
        height:32px;

      }
      .bottom{
        height:28px;
      }
    }
    .title2{
      width:275px;
      height:62px;
      position: absolute;
      top:10px;
      right:180px;
      text-align: center;
      color: #A42D2E;
    }
  }
}


.fancybox-wrap{
  width:75% !important;
  max-width:948px;
  .fancybox-skin{
    background:#d9d6d3;
    padding:3px !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    .fancybox-inner{
      width:100% !important;
      #modal-catalog{
        .content {
          .modal-body{
            width:100%;
            float:left;
            font-size: 1.2em;
            padding:15px;
            z-index:2;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#947a7d+0,a5a5a5+50,937477+100 */
            background: #947a7d; /* Old browsers */
            background: -moz-linear-gradient(45deg,  #947a7d 0%, #a5a5a5 50%, #937477 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#947a7d), color-stop(50%,#a5a5a5), color-stop(100%,#937477)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(45deg,  #947a7d 0%,#a5a5a5 50%,#937477 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(45deg,  #947a7d 0%,#a5a5a5 50%,#937477 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(45deg,  #947a7d 0%,#a5a5a5 50%,#937477 100%); /* IE10+ */
            background: linear-gradient(45deg,  #947a7d 0%,#a5a5a5 50%,#937477 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#947a7d', endColorstr='#937477',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            .product_info{
              width:100%;
              float:left;
              position:relative;

              .right_block{
                margin-left: 350px;
                color:#fff;
              }
              .product_images{
                width: 343px;
                float:left;
                position: relative;
                .main_image{
                  background-color: white;
                  @include box-shadow(4px 4px 2px 0px rgba(50, 50, 50, 0.75));
                  border: 1px solid #e7e7e7;
                  height: 252px;
                  /*margin-bottom: 13px;*/
                  margin: 0 auto;

                  position: relative;
                  text-align: center;
                  width: 291px;
                  &:hover{
                    cursor: pointer;
                    .zoom{
                      opacity: 1;
                    }
                  }
                  .colorbox{
                    display: block;
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    z-index: 2;
                    img {
                      margin: 0 auto;
                      position: relative;
                    }
                  }
                  .zoom {
                    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
                    min-height: 100%;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    text-align: center;
                    transition: opacity 0.3s ease 0s;
                    width: 100%;
                    z-index: 1;
                    .fa-search-plus {
                      color: #ccc;
                      font-size: 2em;
                      left: 45%;
                      opacity: 1;
                      position: absolute;
                      top: 45%;
                      z-index: 3;
                    }
                  }
                }
                .image-additional {
                  height: 94px;
                  overflow: hidden;
                  margin-top:10px;
                  .bx-wrapper {
                    width: 260px;
                    .bx-viewport {
                      background-color: inherit !important;
                      border: medium none !important;
                      box-shadow: none !important;
                      height:85px !important;
                      left: 5px;
                      .slider{
                        .slide {
                          background-color: white;
                          border: 1px solid #e7e7e7;
                          height: 75px !important;
                          margin: 0 12px 0 0 !important;
                          width: 75px !important;
                          text-align: center;
                          @include box-shadow(3px 3px 2px 0px rgba(50, 50, 50, 0.75));
                          img{
                            margin:0 auto;
                            height:100%;
                          }
                          &:hover{
                            cursor:pointer;
                          }
                        }
                      }
                    }
                    .bx-prev, .bx-next{
                      width:42px;
                      height: 75px;
                      background: rgba(0, 0, 0, 0) url("plugins/images/prev-next-btn.png") no-repeat;
                      display: inline !important;
                    }
                    .bx-prev {
                      background-position: 0 0;
                      top:28px !important;
                      left: -40px;
                    }
                    .bx-next {
                      background-position: -42px 0;
                      top:28px !important;
                      right: -40px;
                    }
                  }
                }
              }

            }
            .btn-block{
              float:left;
              border: 1px solid #e7e7e7;
              border-width: 0 0 1px 0;
              #btn-order{
                float:right;
                font-size:1em;
                margin-bottom:10px;

              }

            }
            .price_list{
              width:100%;
              float:left;
              .modal-title{
                color:#fff;
                text-align:center;
                margin:5px 0;
              }
              table{
                width:85%;
                margin:0 auto;
                &.table-striped > tbody > tr:nth-of-type(2n+1) td{
                  background-color: #e2e2e2;
                }
                &.table-bordered{
                    border: 5px solid #454545;
                }
                & > thead > tr {
                  & th{
                    background: #454545;
                    color:#fff;
                    font-weight: normal;
                    border: 1px solid #454545;
                  }
                  & th:last-child{
                    width:200px;
                    text-align: right;

                  }
                }
                & > tbody > tr {
                  & td{
                    background:#d9d6d3;
                    border: 1px solid #454545;
                  }
                  & td:last-child{
                    text-align: right;
                  }
                }
              }

            }
          }

        }

      }
    }

  }
}

