#catalog{
  background:url('../../img/main/first-fon.jpg') no-repeat  center top / cover;
  .bufbg{
    background: #d7d8d7;
  }
  .chiar-small, .chiar-middle, .mebel{
    font-size: 1.6em;
  }
  .chiar-small{
    background:url('../../img/main/chiar-small.png') no-repeat;
    width:332px;
    height:283px;
    position: relative;
    float:left;
    &.top{
      background-position: 0 0;

    }
    &.bottom{
      background-position: 0 -283px;
      margin-top:-100px;
    }
    &.top, &.bottom{
      .title{
        width:60%;
        height:62px;
        position: absolute;
        top:111px;
        right:-195px;
        text-align: center;
        color: #A42D2E;
        .top{
          border:2px solid #A42D2E;
          border-width: 0 0 2px 0;
          height:32px;
        }
        .bottom{
          height:28px;
        }
      }
    }
  }
  .chiar-middle{
    background:url('../../img/main/chiar-middle.png') no-repeat;
    width:459px;
    height:283px;
    margin-bottom:10px;
    float:right;
    &.top{
      background-position: 0 0;
      margin-top:110px;
    }
    &.bottom{
      background-position: 0 -283px;
      margin-top:10px;
    }
    &.top, &.bottom{
      .title{
        width:45%;
        height:62px;
        position: absolute;
        top:111px;
        left:-205px;
        text-align: center;
        color: #A42D2E;
        .top{
          border:2px solid #A42D2E;
          border-width: 0 0 2px 0;
          height:32px;
        }
        .bottom{
          height:28px;
        }
      }
    }
  }
  .mebel{
    background:url('../../img/main/mebel.png') no-repeat;
    width:674px;
    height:400px;
    margin-top:-100px;
    float:left;
    .title{
      width:275px;
      height:62px;
      position: absolute;
      top:168px;
      right:-274px;
      text-align: center;
      color: #A42D2E;
      .top{
        border:2px solid #A42D2E;
        border-width: 0 0 2px 0;
        height:32px;
      }
      .bottom{
        height:28px;
      }
    }
  }
}